

 h1 { color:blueviolet }

 p{ color:black;
     font: size 30px;}
 
    h2{ 
        color:rgb(227, 141, 35)         
    }

    h4{color:black; }

    body {

background-color:rgb(249, 249, 249)
    }